@import "src/colors.scss";

.groups-holder {
  margin: 0 auto;
  padding: 0 20px;
}
.mat-list-base {
  padding-top: 5px;
}

.group-input {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  color: $color3;
}
